@font-face {
  font-family: 'FontAwesome', Fallback, sans-serif;
  font-weight: normal;
  font-style: normal;
  src: url('font-awesome-4.7.0/fonts/fontawesome-webfont.eot');
  src: url('font-awesome-4.7.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('font-awesome-4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('font-awesome-4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('font-awesome-4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'), url('font-awesome-4.7.0/fonts/fontawesome-webfont.svg') format('svg');
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "FontAwesome", serif;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

.icon-ok:before {
  content: '\e800';
}

.icon-left-open:before {
  content: '\e801';
}

.icon-right-open:before {
  content: '\e802';
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  margin: 0;
}

input {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

::-webkit-input-placeholder {
  color: rgb(189, 196, 191);
}

.tabs-menu {
  background-color: rgba(250, 250, 250, 1);
  border-bottom: 1px solid #EFEFEF;
  overflow: hidden;
}

.tabs-menu li {
  display: inline-block;
  width: 50%;
  float: left;
}

.tabs-menu li.current {
  position: relative;
  z-index: 5;
}

.tabs-menu li a {
  text-decoration: none;
  padding: 20px 0;
  display: block;
  font-size: 18px;
  text-align: center;
  color: rgb(139, 148, 141);
}

.tabs-menu .current a {
  color: rgb(47, 55, 49);
  font-weight: bold;
}

.tab-content {
  display: none;
}

#tab-1 {
  display: block;
}

#tab-1 {
  background-color: #fff;
}

.app-box {
  margin: 0 auto;
  position: relative;
  width: 400px;
}

.app-inner {
  overflow: hidden;
  font-family: Arial, serif;
}

.heading {
  position: relative;
  background-color: #FFF;
  padding: 0 0 1px;
}

.heading h3 {
  padding: 10px 10px 5px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  font-size: 26px;
  color: rgb(0, 203, 255);
  display: inline-block;
  width: 100%;
}

.password-here {
  position: relative;
  background-color: #FFF;
  padding: 5px 20px 5px;
}

.password-here input {
  text-align: center;
  padding: 15px;
  font-weight: bold;
  font-size: 17px;
  color: rgb(159, 166, 161);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgb(182, 182, 182);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  display: block;
  width: 100%;
}

.arrow-up {
  width: 40px;
  height: 20px;
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -20px;
  background-size: 40px 115px;
}

.separator {
  position: absolute;
  top: 13px;
  left: 50%;
  border-left: 1px solid rgb(230, 230, 230);
  height: 35px;
}

.num-conrols {
  float: right;
  width: 75px;
  height: 20px;
}

.num-char {
  -webkit-user-select: none;
  /* Chrome/Safari */
  cursor: default;
  padding: 15px 0;
  margin: 0 20px;
  font-size: 14px;
  overflow: hidden;
  border-bottom: 1px solid rgb(239, 239, 239);
}

.num-char div:first-child {
  float: left;
  line-height: 1.5;
}

.less {
  float: left;
  width: 25px;
  height: 20px;
  display: block;
  background-size: 40px 115px;
  cursor: pointer;
  text-align: center;
}

.less:before {
  font-family: 'FontAwesome', serif;
  content: '\f068';
  line-height: 1.5;
  color: rgb(54, 214, 255);
}

.more {
  float: left;
  width: 25px;
  text-align: center;
  color: rgb(54, 214, 255);
  height: 20px;
  display: block;
  cursor: pointer;
}

.more:before {
  font-family: 'FontAwesome', serif;
  content: '\f067';
  line-height: 1.5;
}

.char_res {
  float: left;
  font-weight: bold;
  font-size: 16px;
  width: 25px;
  border: 0;
  margin: 0;
  text-align: center;
  line-height: 1.4;
}

.triangle:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-box-shadow: 0 0 7px 0 rgba(209, 209, 209, 1);
  -moz-box-shadow: 0 0 7px 0 rgba(209, 209, 209, 1);
  box-shadow: 0 0 7px 0 rgba(209, 209, 209, 1);
  background: #FAFAFA;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.gen-opt input[type="checkbox"] + span,
.pass-opt input[type="checkbox"] + span {
  float: right;
}

.remember input[type="checkbox"] + span {
  float: left;
  width: 30px;
}

input[type="checkbox"] + span:before {
  content: '';
  border: 1px solid rgb(239, 239, 239);
  width: 18px;
  height: 18px;
  display: block;
}

.gen-opt input[type="checkbox"]:checked + span:before,
.remember input[type="checkbox"]:checked + span:before {
  font-family: 'FontAwesome', serif;
  content: '\f00c';
  border: 1px solid rgb(54, 214, 255);
  color: rgb(54, 214, 255);
  text-align: center;
  line-height: 1.6;
  font-size: 12px;
}

.pass-opt input[type="checkbox"]:checked + span:before {
  font-family: 'FontAwesome', serif;
  content: '\f00c';
  border: 1px solid rgb(248, 108, 108);
  color: rgb(248, 108, 108);
  text-align: center;
  line-height: 1.6;
  font-size: 12px;
}

.item-opt,
.item-pass {
  overflow: hidden;
  margin: 0 20px;
  border-bottom: 1px solid rgb(239, 239, 239);
}

.item-opt:last-child,
.item-pass:last-child {
  border: none;
}

.item-opt label:hover,
.item-pass label:hover {
  cursor: pointer;
}

.gen-opt label,
.pass-opt label {
  -webkit-user-select: none;
  /* Chrome/Safari */
  width: 100%;
  float: left;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 100;
  color: rgb(47, 55, 49);
  line-height: 1.5;
}

.gen-opt input {
  float: right;
  margin: 0;
}

.btn {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.btn.blue {
  background-color: rgb(53, 184, 224);
  color: #fff;
}

.btn.blue:hover {
  background-color: rgba(53, 184, 224, 0.88);
}

.action {
  overflow: hidden;
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid rgb(239, 239, 239);
}

#passStr {
  font-family: 'FontAwesome', serif;
  text-decoration: none;
  font-size: 18px;
  margin: 0 20px 15px;
  background-color: rgb(53, 184, 224);
  color: #656565;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
}

hr {
  margin: 30px 10px 5px;
  border-top: 1px solid #b2b2b2;
}